.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #1e212b;
}

.header {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  color: #efd28d;
}

.spacer {
  height: 1rem;
}

.content {
  z-index: 1;
  text-align: center;
  background-color: #efd28d;
  color: #1e212b;
  font-weight: bold;
  border-radius: 20px;
  padding: 30px;
}

.circle {
  position: absolute;
  height: 800px;
  width: 800px;
  border-radius: 400px;
  background-color: grey;
  z-index: 0;
}

.ball {
  z-index: 1;
  position: absolute;
  top: 750px;
  left: 1200px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: red;
  animation: spinBall 60s linear infinite;
}

@keyframes spinBall {
  0% {
    transform: translate(-300%, -300%) rotate(0deg) translate(300%, 300%);
  }
  100% {
    transform: translate(-300%, -300%) rotate(360deg) translate(300%, 300%);
  }
}
