.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #1e212b;
}

.header {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  color: #f7f3e3;
}

.spacer {
  height: 1rem;
}

.content {
  z-index: 1;
  text-align: center;
  color: #f7f3e3;
  font-weight: bold;
  border-radius: 20px;
  padding: 30px;
}

.circle {
  position: absolute;
  height: 600px;
  width: 600px;
  border-radius: 400px;
  background-image: linear-gradient(#2b2118, #1e212b);
  z-index: 0;
  animation: spinBall 60s linear infinite;
}

@keyframes spinBall {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ball {
  z-index: 1;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  transform: translate(50%, 0);
}

.ball svg {
  transform: rotate(-360deg);
  animation: spinLogo 60s linear infinite;
}

@keyframes spinLogo {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
