.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #1e212b;
}

.header {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  color: #efd28d;
}

.spacer {
  height: 1rem;
}

.content {
  z-index: 1;
  text-align: center;
  background-color: #efd28d;
  color: #1e212b;
  font-weight: bold;
  border-radius: 20px;
  padding: 30px;
}

.circle {
  position: absolute;
  height: 800px;
  width: 800px;
  border-radius: 400px;
  background-color: grey;
  z-index: 0;
  animation: spinBall 60s linear infinite;
}

.ball {
  z-index: 1;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transform: translate(50%, 0);
  background-color: red;
}

@keyframes spinBall {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
