.circle {
  position: absolute;
  height: 600px;
  width: 600px;
  border-radius: 400px;
  background-image: linear-gradient(#2b2118, #1e212b);
  z-index: 0;
  animation: spinBall 240s linear infinite;
}

@keyframes spinBall {
  from {
    transform: rotate(var(--rotation-start));
  }
  to {
    transform: rotate(var(--rotation-end));
  }
}

.ball {
  z-index: 1;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  transform: translate(50%, 0);
}

.ball svg {
  animation: spinLogo 240s linear infinite;
}

@keyframes spinLogo {
  from {
    transform: rotate(var(--rotation-end));
  }
  to {
    transform: rotate(var(--rotation-start));
  }
}
